/* Mixins -------------------- */
@import url("https://fonts.googleapis.com/css?family=Dosis|Source+Sans+Pro");
.topbutton {
  width: 150px;
  height: 40px;
  border-radius: 20px;
  background-color: #a88d7b;
  border: none;
  margin-top: 5%; }

.fas {
  color: #999999; }

.fab {
  color: #999999; }

.icons {
  text-align: center; }

.fas fa-shopping-cart {
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff; }

.down-arrow {
  font-size: 30px;
  color: black; }

.view-more {
  width: 150px;
  height: 40px;
  background-color: #a88d7b;
  border: none; }

.read-more {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 3.2;
  letter-spacing: 1.5px;
  text-align: left;
  color: #a88d7b; }

.navcons {
  padding: 0 5%; }

.top {
  width: 100%;
  height: 53px;
  background-color: #2d2827; }

.nateb-pic1 {
  font-family: 'Dosis', sans-serif;
  font-size: 30px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.5px;
  text-align: left;
  color: #fffefe; }

.head-image {
  width: 100%;
  height: 100%;
  background-image: url(../../images/bg.jpg);
  background-size: cover;
  text-align: center; }

.heading {
  font-family: 'Dosis', sans-serif;
  font-size: 3.125rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.96;
  letter-spacing: normal;
  text-align: center;
  color: #000; }

.heading-para {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
  padding: 0 14%; }

.nav {
  font-family: 'Dosis', sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.8px;
  color: #ffffff;
  text-transform: uppercase;
  padding-top: 4%; }

#logo {
  width: 117px;
  height: 21px;
  font-family: 'Dosis', sans-serif;
  font-size: 30px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.5px;
  text-align: center;
  color: #000;
  text-transform: uppercase; }

.shipping {
  text-align: center; }

.currency {
  text-align: center; }

#product {
  margin: 0;
  height: 705px;
  background-color: #f9f9f9; }

.product1 {
  background-color: #000;
  text-align: center;
  height: 360px;
  width: 370px; }

.product2 {
  background-color: #000000;
  text-align: center;
  height: 360px;
  width: 370px; }

.product3 {
  background-color: #000000;
  text-align: center;
  height: 360px;
  width: 370px; }

#collect {
  height: 705px;
  background-color: #ffffff;
  text-align: center; }

.new-collection1 {
  width: 35.625rem;
  height: 23.3125rem;
  background-color: #666666; }

.new-collection2 {
  width: 35.625rem;
  height: 23.3125rem;
  background-color: #666666; }

#look {
  background-color: #666666;
  height: 552px; }

#blogg {
  height: 671px;
  background-color: #f9f9f9; }

.ourblog-img {
  width: 585px;
  height: 405px;
  background-color: #666666; }

.blogword {
  width: 585px;
  height: 405px; }

.insta {
  width: 80px;
  height: 80px;
  background-color: #ffffff;
  margin: 2%; }

#nate-b {
  font-family: 'Dosis', sans-serif;
  font-size: 30px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.5px;
  color: #e5e5e5;
  text-align: left; }

.topfooter {
  width: 100%;
  height: 53px;
  background-color: #eeeeee; }

.navbar2 a {
  width: 40px;
  height: 12px;
  font-family: Dosis;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.8px;
  text-align: left;
  color: #666666; }

.imgnate {
  width: 116px;
  height: 22px;
  font-family: 'Dosis', sans-serif;
  font-size: 30px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.5px;
  color: #000000; }

.about-us {
  height: 445px;
  background-color: #000;
  align-content: center; }

.heading-about {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 50px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: 5px;
  color: #ffffff; }

.home-about-us {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: center;
  color: #cccccc; }

#about-who {
  height: 548px; }

.we-are {
  width: 600px;
  height: 490px; }

.pictureofwe {
  width: 600px;
  height: 490px;
  background-color: #666666; }

#meet-our-team {
  height: 721px;
  text-align: center; }

.nate-team {
  height: 305px;
  width: 270px;
  background-color: #000; }

.keith-team {
  height: 305px;
  width: 270px;
  background-color: #000; }

.tendai-team {
  height: 305px;
  width: 270px;
  background-color: #000; }

.henry-team {
  height: 305px;
  width: 270px;
  background-color: #000; }

#what-we-do {
  height: 590px;
  background-color: aquamarine; }

.what-we-do-pic {
  width: 600px;
  height: 490px; }

.what-we-do-text {
  width: 600px;
  height: 490px; }

#contact {
  width: 100%;
  margin: 60px auto 74px; }

.address {
  width: 390px;
  height: 200px;
  border: solid 1px #e6e6e6;
  background-color: #f0f0f0; }

body {
  margin: 0; }

nav ul {
  margin-top: 0; }
nav li {
  display: inline;
  padding: 1%; }
nav a {
  text-decoration: none;
  width: 66px;
  height: 11px;
  font-family: Dosis;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.8px;
  text-align: left;
  color: #ffffff; }

span {
  width: 13px;
  height: 9px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #999999; }

h1 {
  text-align: center;
  margin-top: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #333333; }

img {
  height: 100%;
  width: 100%; }

footer {
  width: 100%;
  height: 409px;
  background-color: #666666; }

p {
  color: black; }

.top {
  display: grid;
  grid-template-columns: repeat(3, 1fr); }

.nav-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); }

.feature {
  display: grid;
  grid-gap: 1rem;
  margin: auto;
  width: 71.375rem;
  grid-template-columns: repeat(3, 1fr); }

.collections {
  display: grid;
  margin: auto;
  grid-gap: 1rem;
  width: 71.375rem;
  grid-template-columns: 1fr 1fr; }

.lookbook-head {
  display: grid;
  grid-template-columns: 1fr 3fr 3fr;
  grid-template-areas: "blank words blank1"; }

.wording {
  grid-area: words;
  text-align: center;
  align-content: center;
  margin-top: 30%; }

.ourblog {
  display: grid;
  grid-gap: 1%;
  width: 71.375rem;
  margin: auto;
  grid-template-columns: 1fr 1fr; }

.footer-grid {
  padding-top: 5%;
  display: grid;
  width: 1200px;
  margin: auto;
  grid-template-columns: repeat(4, 1fr); }

.small-footer-grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(4, 5rem);
  grid-template-rows: repeat(2, 5rem); }

.secondnav {
  display: grid;
  height: 93px;
  align-content: center;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "left right"; }

.nateb {
  grid-area: left;
  text-align: center; }

.navbar2 {
  grid-area: right; }

.topfooter {
  display: grid;
  grid-template-columns: repeat(3, 1fr); }

.who-we-are {
  display: grid;
  margin: auto;
  width: 1200px;
  grid-template-columns: 1fr 1fr; }

.grid-meet {
  display: grid;
  margin: auto;
  grid-gap: 1rem;
  width: 1200px;
  grid-template-columns: repeat(4, 1fr); }

.what-we-do-grid {
  display: grid;
  margin: auto;
  grid-gap: 1rem;
  width: 1200px;
  grid-template-columns: 1fr 1fr; }

.contact-grid {
  width: 71.375rem; }

/* Media Queries -------------------- */

/*# sourceMappingURL=main.css.map */
