.top {
  width: 100%;
  height: 53px;
  background-color: #2d2827; }

.nateb-pic1 {
  font-family: 'Dosis', sans-serif;
  font-size: 30px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.5px;
  text-align: left;
  color: #fffefe; }

.head-image {
  width: 100%;
  height: 100%;
  background-image: url(../../images/bg.jpg);
  background-size: cover;
  text-align: center; }

.heading {
  font-family: 'Dosis', sans-serif;
  font-size: 3.125rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.96;
  letter-spacing: normal;
  text-align: center;
  color: #000; }

.heading-para {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
  padding: 0 14%; }

.nav {
  font-family: 'Dosis', sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.8px;
  color: #ffffff;
  text-transform: uppercase;
  padding-top: 4%; }

#logo {
  width: 117px;
  height: 21px;
  font-family: 'Dosis', sans-serif;
  font-size: 30px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.5px;
  text-align: center;
  color: #000;
  text-transform: uppercase; }

.shipping {
  text-align: center; }

.currency {
  text-align: center; }

#product {
  margin: 0;
  height: 705px;
  background-color: #f9f9f9; }

.product1 {
  background-color: #000;
  text-align: center;
  height: 360px;
  width: 370px; }

.product2 {
  background-color: #000000;
  text-align: center;
  height: 360px;
  width: 370px; }

.product3 {
  background-color: #000000;
  text-align: center;
  height: 360px;
  width: 370px; }

#collect {
  height: 705px;
  background-color: #ffffff; }

#look {
  background-color: #666666;
  height: 552px; }

#blogg {
  height: 671px;
  background-color: #f9f9f9; }

.ourblog-img {
  width: 585px;
  height: 405px;
  background-color: #666666; }

.blogword {
  width: 585px;
  height: 405px; }

.insta {
  width: 80px;
  height: 80px;
  background-color: #ffffff;
  margin: 2%; }

#nate-b {
  font-family: 'Dosis', sans-serif;
  font-size: 30px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.5px;
  color: #e5e5e5;
  text-align: left; }

.topfooter {
  width: 100%;
  height: 53px;
  background-color: #eeeeee; }

.navbar2 a {
  font-family: 'Dosis', sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.8px;
  color: #000;
  text-transform: uppercase;
  padding-top: 1%; }

.imgnate {
  width: 116px;
  height: 22px;
  font-family: 'Dosis', sans-serif;
  font-size: 30px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.5px;
  color: #000000; }

.about-us {
  height: 445px;
  background-color: #000;
  align-content: center; }

.heading-about {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 50px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: 5px;
  color: #ffffff; }

.home-about-us {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: center;
  color: #cccccc; }

#about-who {
  height: 548px; }

.we-are {
  width: 600px;
  height: 490px; }

.pictureofwe {
  width: 600px;
  height: 490px;
  background-color: #666666; }

#meet-our-team {
  height: 721px; }

.marlon {
  height: 305px;
  width: 270px;
  background-color: #000; }

.russ {
  height: 305px;
  width: 270px;
  background-color: #000; }

.michelle {
  height: 305px;
  width: 270px;
  background-color: #000; }

.justin {
  height: 305px;
  width: 270px;
  background-color: #000; }

#what-we-do {
  height: 590px;
  background-color: aquamarine; }

.what-we-do-pic {
  width: 600px;
  height: 490px; }

.what-we-do-text {
  width: 600px;
  height: 490px; }

/*# sourceMappingURL=helpers.css.map */
