body {
    margin: 0;
}

nav {
    
    ul {
        margin-top: 0;
    } 
    li {
        display: inline;
        padding: 1%;
        
    }

    a {
        text-decoration: none;  
        color: darkgrey;
    }
}

span {
    width: 13px;
    height: 9px;
    font-family: SourceSansPro;
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #999999;
}

h1, h2, h3, h4, h5 {
    text-align: center;
    margin-top: 0;
    color: azure;
}
