@import url('https://fonts.googleapis.com/css?family=Dosis|Source+Sans+Pro');
// font-family: 'Dosis', sans-serif;
// font-family: 'Source Sans Pro', sans-serif;

.topbutton {
    width: 150px;
    height: 40px;
    border-radius: 20px;
    background-color: #a88d7b;
    border: none;
    margin-top: 5%;
}

// arrow that moves on the header of the home page
.down-arrow {
    font-size: 30px;
    color: black;
    animation: arrow;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
}

@keyframes arrow {
    from {
        margin-top: 0;
        opacity: .5s;
    }
    to {
        margin-top: 3vw;
        opacity: 1;
    }
}

// styling of my icons and sizing on every section
.fas {
    color: #999999;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    padding: 0 4px;
}

.fab {
    color: #999999;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    padding: 0 4px;
}

.icons {
    text-align: center;
}

.fas fa-shopping-cart{
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.navcons {
    padding: 0 5%;
}

// my view more button styling and my read more buttons, all my buttons on all the pages

.view-more {
    width: 150px;
    height: 40px;
    background-color: #a88d7b;
    border: none;
}

.read-more {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 3.2;
    letter-spacing: 1.5px;
    text-align: left;
    color: #a88d7b;
}

.emailbtn {
    width: 155px;
    height: 40px;
    background-color: #ac907f;
    margin-bottom: 100px;
}

.blog-read-more {
    width: 67px;
    height: 11px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: left;
    color: #706259;
    text-decoration: none;
}

.add-to-cart-btn {
    width: 180px;
    height: 44px;
    background-color: #a88d7b;

}

