@import url('https://fonts.googleapis.com/css?family=Dosis|Source+Sans+Pro');
// font-family: 'Dosis', sans-serif;
// font-family: 'Source Sans Pro', sans-serif;

.topbutton {
    width: 150px;
    height: 40px;
    border-radius: 20px;
    background-color: #a88d7b;
    border: none;
    width: 87px;
    margin: 5%;
    font-family: SourceSansPro;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 1.5px;
    color: #ffffff;
}

.fas {
    color: #999999;
}

.fab {
    color: #999999;
}

.icons {
    text-align: center;
}

.down-arrow {
    margin-top: 5%;
}
