@import url('https://fonts.googleapis.com/css?family=Dosis|Source+Sans+Pro');
// font-family: 'Dosis', sans-serif;
// font-family: 'Source Sans Pro', sans-serif;

button {
    width: 150px;
    height: 40px;
    border-radius: 20px;
    background-color: #a88d7b;
    border: none;
    margin: 5%;
}

.fas {
    color: #999999;
}

.fab {
    color: #999999;
}

.icons {
    text-align: center;
}

.down-arrow {
    margin-top: 5%;
}