// my top section of my home page a.k.a header
.top {
    width: 100%;
    height: 53px;
    background-color: #2d2827;
  }

  .nateb-pic1 {
    font-family: 'Dosis', sans-serif;
    font-size: 30px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.5px;
    text-align: left;
    color: #fffefe;
  }
  
.head-image {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.459), #000000a9) ,url(../../images/bg.jpg);
    background-size: cover;
    text-align: center;
}
.heading {
    
    font-family: 'Dosis', sans-serif;
    font-size: 3.125rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.96;
    letter-spacing: normal;
    text-align: center;
    color: #000;
    padding: 10% 0 0 0;
}

.heading-para {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: center;
    padding: 0 14%;
}

.nav {
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.8px;
    color: #ffffff;
    text-transform: uppercase;
    padding-top: 4%;
}

// ====== My top footer etc ======
#logo {
    width: 117px;
    height: 21px;
    font-family: 'Dosis', sans-serif;
    font-size: 30px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.5px;
    text-align: center;
    color: #000;
    text-transform: uppercase;
}

.shipping {
    text-align: center;
}

.currency {
    text-align: center;
}

// my feature products section and styling etc=========
#product {
    margin: 0;
    height: 705px;
    background-color: #f9f9f9;
}

.product {
    background-color: #000;
    text-align: center;
    height: 360px;
    width: 370px;
    position: relative;
    overflow: hidden;
}

// =====================my collection section and imaging styling (home page)
#collect {
    height: 705px;
    background-color: #ffffff;
    text-align: center;
}

.new-collection {
    width: 35.625rem;
    height: 23.3125rem;
    background-color: #666666;
    position: relative;
    overflow: hidden;
}





// =======#####=== lookbook section on my homepage ======####====
#look {
    background-color: #666666;
    height: 552px;
    background: linear-gradient(#00000060, #000000), url(../../images/apartment-1400x600.jpg);
}

//========== my blog section on the home page =======

#blogg {
    height: 671px;
    background-color: #f9f9f9;
}

.ourblog-img {
    width: 585px;
    height: 405px;
    background-color: #666666;
    position: relative;
    overflow: hidden;
}

.blogword {
    width: 585px;
    height: 405px;
}


// ============###======my footer that is constant in my website ======###====

.insta {
    width: 80px;
    height: 80px;
    background-color: #ffffff;
}

#nate-b {
    font-family: 'Dosis', sans-serif;
    font-size: 30px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.5px;
    color: #e5e5e5;
    text-align: left;
    
}

// ===###===copyright of nate and section===###===
.copyright {
    width: 100%;
    height: 85px;
    background-color: #d7d7d7;
    text-align: center;
    margin-top: 40px;
    
}

.copyright-text {
    width: 381px;
    height: 13px;
    font-family: SourceSansPro;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: left;
    color: #666666;
}

//===== About page and the rest of my top of my page styling for all pages======

// ============ My new nav and header =========

.topfooter {
    width: 100%;
    height: 53px;
    background-color: #eeeeee;
}

.navbar2 a {
    width: 40px;
    height: 12px;
    font-family: Dosis;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.8px;
    text-align: left;
    color: #666666;
}

.imgnate {
    width: 116px;
    height: 22px;
    font-family: 'Dosis', sans-serif;
    font-size: 30px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.5px;
    color: #000000;
}

.about-us {
    height: 445px;
    background: linear-gradient(#00000060, #000000), url(/images/diverse-group-people-sitting-couch-concept.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    align-content: center;
}

.heading-about {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 50px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 5px;
    color: #ffffff;
}

.home-about-us {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: center;
    color: #cccccc;
}


//========== main content of my about who we are section and styling ============= 

#about-who {
    height: 548px;
    margin-top: 60px;
}

.who-we-are {
    width: 600px;
    height: 490px;
}

.we-are-pic {
    width: 600px;
  height: 490px;
  background-color: #666666;
  position: relative;
  overflow: hidden;
}
.pictureofwe {
  width: 100%;
height: 100%;
  
}

// ====== meet the team grid and section display ==========
#meet-our-team {
    height: 721px;
    text-align: center;
    padding-top: 102px;
}

.team {
    height: 305px;
    width: 270px;
    background-color: #000;
    position: relative;
    overflow: hidden;
}

//=========== what we do section and images and display on about page =========

#what-we-do {
    height: 590px;
}
.what-we-do-pic {
    width: 600px;
    height: 490px;
    position: relative;
    overflow: hidden;
}

.what-we-do-text {
    width: 600px;
    height: 490px;
}

// ======####==== contact page and its first section with contact info====###=====
.contact-us {
    height: 445px;
    background: linear-gradient(#00000060, #000000), url(../../images/contact-us-main-header-min.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
}

#contact {
width: 100%;
margin: 60px auto 74px;

}

.address {
    width: 390px;
    height: 200px;
    border: solid 1px #e6e6e6;
    background-color: #f0f0f0;
}

.contacting-info {
    width: 390px;
    height: 200px;
    border: solid 1px #e6e6e6;
    background-color: #f0f0f0;

    display: grid;
    grid-template-rows: repeat(2, auto);
}

.line {
    border: solid 1px #e6e6e6;
}
.opening-times {
    width: 390px;
    height: 200px;
    border: solid 1px #e6e6e6;
    background-color: #f0f0f0;
}

// ===###=== blog page styling and section design===###===
.blog-us {
    height: 445px;
    background: linear-gradient(#00000060, #000000), url(../../images/apartment-1400x600.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
}

.blogs {
    width: 370px;
    height: 225px;
    background-color: #666666;
    position: relative;
    overflow: hidden;
}

.hr-line {
    width: 73rem;
}

// lookbook page and styling section 

.lookbook-us {
    height: 445px;
    background: linear-gradient(#00000060, #000000), url(../../images/apartment-1400x600.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
    
}


// my shop page section 

.shop-us {
    height: 445px;
    background: linear-gradient(#00000060, #000000), url(/images/diverse-group-people-sitting-couch-concept.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
}

.product-images {
    width: 300px;
    height: 300px;
    background-color: #666666;
}
