.top {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

// =======#####======  feature products grid ========####

.feature {
    display: grid;
    margin-bottom: 10%;
    grid-gap: 1%;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 250px);
    grid-template-areas: "blank1 one two three blank2"
}

.product1 {
    grid-area: one;
    background-color: #000;
    text-align: center;
}

.product2 {
    grid-area: two;
    background-color: #000000;
    text-align: center;
}

.product3 {
    grid-area: three;
    background-color: #000000;
    text-align: center;
}


// =========####===== new collections grid ======#######

.collections {
    display: grid;
    margin-bottom: 10%;
    grid-gap: 1%;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: repeat(1, 300px);
    grid-template-areas: "blank1 newone newtwo blank2"

}

.new-collection1 {
    grid-area: newone;
    background-color: #000;
}

.new-collection2 {
    grid-area: newtwo;
    background-color: #000;
}

// ===========######++++++ look book heading section =====########========


.lookbook-head {
    display: grid;
    grid-template-columns: 1fr 3fr 3fr;
    grid-template-areas: "blank words blank1"
}

.wording {
    grid-area: words;
    text-align: center;
    align-content: center;  
}

// ====== my blog part of the homepage==== ###
.ourblog {
    display: grid;
    grid-gap: 2%;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-areas:"blank pic word blank1"
}

.imagehold {
    grid-area: pic;
    background-color: #666666;
}
.blogword {
    grid-area: word;
}


// #####====== secondnav style =======#####

.secondnav {
    display: grid;  
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "left right"
}

.nateb {
    grid-area: left;
    text-align: center;
}

.imgnate {
    height: 7vh;    
}

.navi {
    grid-area: right;
    
}

// ======#### my second nav and stuff for my pages =====###

.topnav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.who-we-are {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-areas: "blank who image blank1 "
}
